body { 
	display: grid;
	grid: "header header  " 80px
          "menu   menu    " 40px
          "nav    section " 1fr
          "footer footer  " 1000px
		  / 1fr   6fr ;
		  
  	min-height: 100vh;
}

header  { grid-area: header; }
div.head-menu {grid-area: menu; }
nav     { grid-area: nav;     }
section { grid-area: section; }
footer  { grid-area: footer;  }



            /* global Styles */

body{ margin:0; font-family:Monserrat, sans-serif; background: #fff }

body > *{ padding: 1em;}

a{
    text-decoration: none;
    color: black;
}

header {height: 80px;}
nav   { margin-left: 5px; margin-top: 31px; padding-top: 0;}
section { margin-top : 16px;}
footer  { background: #000000; }

.bold{
    font-weight: bold;
}


            /*   Header  */


        .head{
            display: grid;
            grid-template-columns: 150px 1fr 1fr 1fr 1fr;
            grid-template-rows: 80px;
            grid-gap: 1em;
            place-items: stretch;
/*            max-height: 200px;*/
        }
         .head-logo{
            background: url(Logotype.png) no-repeat left ;
            display: flex;
          
        }
/*        .head-logo p{*/
/*            margin-left: 93px;*/
/*            margin-top: 30px;*/
/*            font-weight: bold;*/
/*            font-size: 2em;*/
/*        }*/

        .head-phone{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0;
/*            max-height: 110px;*/
/*            box-shadow:  3px 3px 4px 2px grey;*/
        }   
        .head-basket{ 
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            min-width: 230px;
            max-width: 270px;
            max-height: 110px;
/*            box-shadow:  3px 3px 4px 2px grey;*/
        }
        .head-basket .cart{
            text-align: left;
        }
        .head-basket .cart-right{
            display: inline-block;
            margin-left: 10px;
        }
        .head-basket .cart-right a{
            text-decoration: underline;
            text-transform: uppercase;
            font-weight: bold;
        }
        .head-basket .basket-price{
            margin-top: 15px;
        }
        .head-time{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
/*
            min-width: 145px;
            max-height: 110px;
*/
/*            box-shadow:  3px 3px 4px 2px grey;*/
        }
        .head-address{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            min-width: 105px;
            max-height: 110px;
        }


                /*    Menu      */
.head-menu{
display: flex;
/*            background: #f0d335;  */
height: 100%;
}
.head-menu div{
    display: flex;
    background: #f0d335;
    width: 25%;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
}
.head-menu div:hover{
    background: black;
    color: #f0d335;
    transition-duration: 0.3s;
}


            /*  Navigation  */


.list{
    padding:0;
    list-style: none;
}
.list li{
    padding:6px;
/*    background: rgba(154, 159, 173, 0.19);*/
    margin-bottom: 4px;
    border-bottom: 1px grey solid;
}
.list li:before {
    padding-right:10px;
    font-weight: bold;
    color: #C0C0C0;
    content: "\2714";
    transition-duration: 0.5s;
}
.list li:hover:before {
    color: #337AB7;
    content: "\2714";
} 
.list li a:hover{
/*    background: rgba(140, 162, 224, 0.28);*/
    color: #f0d335;
}
.list li a{
    text-decoration: none;
/*    color: #f0cc35;*/
}

            /*    Styles for Section*/

section{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 1.5em;
        grid-auto-rows: minmax(100px, auto);
    }
.info{
    background: #9bdceb;
}


        /*   Footer   */
footer{
    color: white;
}


/*               Media requesets             */


 @media screen and (max-width: 545px){
             .head-logo{
               grid-column: 1/5;
                 place-self: center;
             }
            .head-basket{
               display: none;;
            }
     section{
        
     }
        }
@media screen and (max-width: 670px){
            .head-time{
                display: none;
            }
    .head-basket{
        grid-column: 2/5;
    }
        }

@media screen and (max-width: 750px){
            section{
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
            }
           
            nav{
                display: none;
            }
            .head{
                grid-template-columns: 1fr 1fr 1fr;
            }
            body { 
	            grid: "header  " 120px
                "menu    " 65px
                "section "  1fr
                "footer  " 100px
		        / 1fr;
            }
    }
 @media screen and (max-width: 840px){
              .head-address{
                display: none;
            }
            .head{
                grid-template-columns: 250px 1fr 1fr;
            }
        }
       
@media screen and (max-width: 1115px){
             .head-phone{
                display: none;
            }
            .head{
               grid-template-columns: 250px 1fr 1fr 1fr;
            }
        }
@media screen and (max-width: 1233px){
            .head-phone{
                font-size: 0.9em;
            }
        }

 
